html,
body {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
